<div id="sidebar" class="active">
        <div class="toggle-btn">         
            <span>                
                &#9776;
            </span>
        </div>
        <ul>
            <li>
                <img src="./assets/angular1.png" alt="Logo" width="45" height="45" >
            </li>
            <li >
                <a class="nav-link active" aria-current="page" routerLink="/users">Users</a>
            </li>
            <li>
                <a class="nav-link active" routerLink="/users/add">Add user</a>
            </li>
            <li>
                <a class="nav-link active" routerLink="/users/contact">Contact me</a>
            </li>
        </ul>
    </div>
<div class="container">
</div>
